<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145811182354-vserm3bcp85f1g65njgvo5f55lpcrg0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145811182354-vserm3bcp85f1g65njgvo5f55lpcrg0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAEmgeKAJIqTNvIZvPLRn1RV_-FWLMJBjY</string>
	<key>GCM_SENDER_ID</key>
	<string>145811182354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozgunyildiz.hugmeapp</string>
	<key>PROJECT_ID</key>
	<string>hugmeapp-68a15</string>
	<key>STORAGE_BUCKET</key>
	<string>hugmeapp-68a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145811182354:ios:1b1693e5593ec7863019cb</string>
</dict>
</plist>